*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: linear-gradient(to right, #3D0551, #AC0BC7 );
    font-family: 'Inter', sans-serif;
    color: white
}

header{
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
}

header img{
    width: 120px;
}

header ul{
    display: flex;
   
    list-style: none;
  
   
}

header ul li{
    margin-right: 80px;
    color: white
    
}

header a{
    text-decoration: none;
    color: white;
}


button{
    padding: 10px 15px;
    margin-right: 20px;
    border: none;
    background-color: yellow;
    color: black;
    border-radius: 32px;
    cursor: pointer; 
    font-weight: 400;
}


#sign-up{
    background:transparent;
    border: 1px solid white;
    color: white;
}

.active{
    font-weight: bold;
}  

section {

    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    padding: 10px 44px;
}

section h1{
    font-size: 64px;
      font-family: "Livvic", sans-serif;
     font-weight: 500;
     font-style: SemiBold;
    line-height: 100%;
    letter-spacing: 1%;

}

section h1 span{
    font-weight: 200;
}
section p{
    margin: 24px 0;
    font-size: 24px;
       font-family: "Livvic", sans-serif;
     font-weight: 400;
     font-style: Regular;
}

section img{
    width: 450px;
    object-fit: contain;
}