* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #eed0b5, #f0e6c6);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:5px 20px;
  width: 100%;
  position: fixed;
  background: #fed0b2c6;
}

.logo {
  width: 120px;
}

ul {
  display: flex;
  list-style: none;
}

ul li {
  margin: 0px 10px;
}

ul li a {
  text-decoration: none;
  color: #000000;
}

.sign-up {
  padding: 6px 12px;
  background: transparent;
  border-radius: 5px;
}

section {
  padding: 20px 40px;

}
.hero {
  display: flex;
   padding: 32px 40px;
  justify-content: space-between;
  align-items: center;
}

.hero img {
  width: 400px;
}

.hero h1 {
  font-size: 56px;
  color: #473525e5;
  font-family: "Jost", sans-serif;
}

.hero p{
    font-size: 22px;
    font-family: "Jost", sans-serif;
    margin: 16px 0px;
}

.view{
    padding: 8px 14px;
    border-radius: 5px;
    background-color: #473525C7;
    color: white;
    border: none;
    margin-right: 16px;
}

.about{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}
.about h2 {
  font-size: 56px;
  color: #473525e5;
  font-family: "Jost", sans-serif;
}

.about p{
    font-size: 22px;
    font-family: "Jost", sans-serif;
    margin: 16px 0px;
}

.pine{
    
    width: 200px;
    margin-left: 20px;
    padding: 24px 20px;
}
.grape{
    width: 100px;  
     margin-top: 60px;
}
.melon{
    width: 200px;
     padding: 24px 10px;
}

.about img{
       
    background: linear-gradient(#fff0e6c6, #ee7c18);
    border-radius: 20px;
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
}

.menu h2{
  font-size: 48px;
  color: #473525e5;
  font-family: "Jost", sans-serif;
}

.menu-card{
    background:linear-gradient(#f0e6c6, #ee7c18);
    width: 350px;
    padding: 10px 60px;
    border-radius: 20px;
    margin-right: 60px;
}

.menu-card h4{
  margin-top: 32px;
    font-size: 32px;
    color: #473525e5;
    font-family: "Jost", sans-serif;
    font-weight: normal;
    margin: 16px 0px; 
    display: inline;
   
}
.menu-card p{
    font-size: 20px;
    font-family: "Jost", sans-serif;
    margin: 16px 0px;
}

.menu-item{
    width:200px;
    max-width:max-content ;
    margin: auto;

}
.menu-item img{
    width: 150px;
}

.menus {
  display: flex;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer img {
  width: 150px;
}

.footer input{
  display: block;
  border-radius: 8px;
  margin-top: 12px;
  padding: 10px 14px;
  border: none;

}

.footer textarea{
  display: block;
  border-radius: 8px;
  margin-top: 12px;
  padding: 10px 14px;
  border: none;
  width: 300px;
  height: 100px;
}

.footer button{
   padding: 8px 14px;
    border-radius: 5px;
    background-color: #ed760e;
    color: white;
    margin-top: 12px;
    border: none;
    margin-right: 16px;
}
